%p= "Dear #{player.name},"

%p This is your game reminder. The next game is:

%blockquote= "\t#{game.date.strftime(DATE_FORMAT)} #{game.description}"

- if player.attending_status(game) == 'No Reply'
  Can you make the game?
  %br
  %a{ :href => url_for("http://#{APP_DOMAIN}/player/attending_status_for_game", :game_id => game.id, :player_id => player.id, :status => 'yes') } Yes
  %br
  %a{ :href => url_for("http://#{APP_DOMAIN}/player/attending_status_for_game", :game_id => game.id, :player_id => player.id, :status => 'no') } No
  %br
  %a{ :href => url_for("http://#{APP_DOMAIN}/player/attending_status_for_game", :game_id => game.id, :player_id => player.id, :status => 'maybe') } Maybe
- else
  ="You are currently marked as '#{player.attending_status(game)}' for this game.  To change your status sign in and update it in your homepage"

%p Thank you for using Teamvite.com!
