%h3 Upcoming Games
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Description
      %th Players Attending
      - if player
        %th Your Response
  %tbody
    - teams_games.each do |team, game|
      %tr
        %td= game.date.strftime(DATE_FORMAT)
        %td= escape_once game.description
        %td
          %a{ href: '#', 'data-toggle' => :modal, 'data-target' => "#dialog-players-game-#{game.id}" }= "#{game.num_players_going} Players"
          %div{ id: "dialog-players-games-#{game.id}" }
            %ul
              - team.players.sort{ |a, b| a.name <=> b.name }.each do |player|
                %li{ :style => 'margin-left: 3em'}= "#{player.name}: #{player.attending_status(game)}"
        - if player
          %td
            = partial :game_status, locals: { player: player, game: game }
