%h3 Upcoming Games
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Description
      %th Players Attending
      - if player
        %th Your Response
  %tbody
    - teams_games.each do |team, game|
      %tr
        %td= game.date.strftime(DATE_FORMAT)
        %td= escape_once game.description
        %td
          %a{ 'data-toggle' => :modal, href: "#dialogPlayersGames#{game.id}", }= "#{game.num_players_going} Players"
          %div{ id: "dialogPlayersGames#{game.id}", class: 'modal hide fade', tabindex: -1, role: :dialog, :'aria-labelledby' => :myModalLabel, :'aria-hidden' => true }
            .modal-header
              %button.close{ type: :button, :'data-dismiss' => :modal, :'aria-hidden' => true } x
              %h3 Modal header
            .modal-body
              %ul
                - team.players.sort{ |a, b| a.name <=> b.name }.each do |player|
                  %li{ :style => 'margin-left: 3em'}= "#{player.name}: #{player.attending_status(game)}"
            .modal-footer
              %button.btn{ :'data-dismiss' => :modal, :'aria-hidden' => true } Close
        - if player
          %td
            = partial :game_status, locals: { player: player, game: game }
