!!! strict
%html
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", 'http-equiv' => "content-type" }
    %title= "Pickle Spears - " + title
    %link{ :rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css" }
  %body
    .header
      %div{ :style => "text-align: right" }
        - if @player
          = "Welcome #{@player.name} | "
          %a{ :href => '/sign_out' }sign out
          |
          %a{ :href => '/player' } home
        - else 
          %a{ :href => '/' } home
          |
          %a{ :href => '/player/new' } join
    .error= @errors
    = yield
    %script{ :language => 'javascript', :src => '/jx.js' }
    %script{ :language => 'javascript', :src => '/pickle-spears.js' }
