!!! strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en' }
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", 'http-equiv' => "content-type" }
    %title= "Pickle Spears - " + title
    %link{ :rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css" }
  %body
    .header
      %div{ :style => "text-align: right; float: right" }
        - if @player
          = "Welcome #{@player.name} | "
          %a{ :href => '/player' } Home
          |
          %a{ :href => '/sign_out' } Sign Out
        - else 
          %a{ :href => '/' } Home
          |
          %a{ :href => '/player/create' } Join Now!
      %div{ :style => "text-align: left;" }
        %form{ :method => "get", :action => "/search" }
          %input{ :name => "team", :type => "text" }
          %input{ :name => "tn_search", :value => "Team Search", :type => "submit" }
    - if @errors
      .error= @errors
    - if @messages
      .message= @messages
    = yield
    %script{ :type => 'application/x-javascript', :src => '/jx.js' }
    %script{ :type => 'application/x-javascript', :src => '/pickle-spears.js' }
