!!! strict
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en' }
  %head
    %meta{ :content => "text/html; charset=ISO-8859-1", 'http-equiv' => "content-type" }
    %title= "Pickle Spears - " + title
    %link{ :rel => "stylesheet", :href => "/stylesheet.css", :type => "text/css" }
    %link{ :rel => "stylesheet", :href => "/grid.css", :type => "text/css" }
    -# for google webmaster tools
    %meta{ :name=>"google-site-verification", :content=>"DKQPrb8YpUIifJ7YdL6-1ckIGNxvAoQoT9E6-fBSv14" }

    %script{ :type=>"text/javascript" }
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-XXXXX-X']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
      })();

  %body
    .header
      %div{ :style => "text-align: right;" }
        %form{ :method => "get", :action => "/search" }
          - if @player
            = "Welcome #{@player.name} | "
            %a{ :href => '/player' } Home
            |
            %a{ :href => '/sign_out' } Logout
          - else
            %a{ :href => '/' } Home
            |
            %a{ :href => '/login' } Login
          %input{ :name => "team", :type => "text" }
          %input{ :name => "tn_search", :value => "Team Search", :type => "submit" }

    - if @errors
      .error= @errors
    - if @messages
      .message= @messages
    .container_12
      = yield
    %script{ :type => 'text/javascript', :src => '/jx.js' }
    %script{ :type => 'text/javascript', :src => '/pickle-spears.js' }
