- title "#{@player_from_request.name}'s homepage"
%article{ :class => 'quarter-block' }
  .article-container
    %section
      %img{ :src => "http://www.gravatar.com/avatar/#{@player_from_request.md5_email}" }
      %br
      %p
        %a{ :href=> url_for('/player', { :id => @player_from_request.id }) }= @player_from_request.name
      %br
  .article-container
    %header
      %h3 Teams
    %section
      %ul
        - @player_from_request.teams.each do |team|
          %li
            %a{ :href => url_for("/team", { 'team_id' => team.id.to_s }) }= team.name
%article{ :class => 'half-block clearrm' }
  .article-container
    %header
      %h2 Upcoming Games
    %section
      %ul
        - (@player_from_request.teams.map { |t| t.upcoming_games }).flatten.sort { |a, b| a.date <=> b.date }.each do |game|
          %li
            = "#{game.date.strftime(DATE_FORMAT)} - #{escape_once game.description}"
            %div{ :style => "padding-left: 3em" }
              = "#{game.num_guys_confirmed} guy(s)"
              = "#{game.num_gals_confirmed} gal(s)"
              %a{ :href => '#', :onclick => "document.getElementById('details_#{game.id}').style.display = 'block'" }= "[details]"
              %div{ :style => 'display:none; border: thin solid black', :id => "details_#{game.id}" }
                %ul
                  - game.team.players.each do |player|
                    %li{ :style => 'margin-left: 3em'}= "#{player.name}: #{player.attending_status(game)}"
              - if @player && @player_from_request.id == @player.id
                = status_for_game(@player_from_request, game)
