- title "#{@player.name}'s homepage"
.user_info
  %table
    %tr
      %th.team_header
        Info
        %a{ :href => '/player/edit' }= '[edit]'
    %tr
      %td
        %ul
          %li
            = "Name: #{@player.name} "
          %li
            = "Email: #{@player.email_address} "
          %li
            = "Phone: #{@player.phone_number} "
          %li
            = "Gender: #{@player.gender} "
  %table
    %tr
      %th.team_header
        Teams
        %a{ :href => "/" } [Join New]
    %tr
      %td
        %ul
          - @player.teams.each do |team|
            %li
              %a{ :href => href("/team", { 'team_id' => team.id }) }= team.name
%div{ :style => 'float: left; margin: 2em' }
  %h2 Upcoming Games
  %ul
    - (@player.teams.map { |t| t.upcoming_games }).flatten.sort { |a, b| a.date <=> b.date }.each do |game|
      %li
        = escape_once game.description
        %div{ :style => "padding-left: 3em" }
          = "#{game.num_guys_confirmed} guy(s)"
          = "#{game.num_gals_confirmed} gal(s)"
          %a{ :href => '#', :onclick => "document.getElementById('details_#{game.id}').style.display = 'block'" }= "[details]"
          %div{ :style => 'display:none; border: thin solid black', :id => "details_#{game.id}" }
            %ul
              - game.team.players.each do |player|
                %li{ :style => 'margin-left: 3em'}= "#{player.name}: #{player.attending_status(game)}"             
          = status_for_game(@player, game)
