- title "#{@player.name}'s homepage"
%div.user_info
  Image of player
  %table
    %tr
      %td.team_header
        Information 
        %a{ :href => '/player/edit' }= '[edit]'
    %tr
      %td
        %ul
          %li
            = "Name: #{@player.name} "
          %li
            = "Email: #{@player.email_address} "
          %li
            = "Phone: #{@player.phone_number} "
          %li
            = "Gender: #{@player.gender} "
  %table
    %tr
      %td.team_header
        Teams
        %a{ :href => "/" } [Join New]
    %tr
      %td
        %ul
          - @player.teams.each do |team|
            %li
              %a{ :href => href("/team", { 'team_id' => team.id }) }= team.name
              %img{ :src => '/bullet_delete.png' }
%div{ :style => 'float: left' }
  %h2 Upcoming Games
  %ul
    - (@player.teams.map { |t| t.upcoming_games }).flatten.sort { |a, b| a.date <=> b.date }.each do |game|
      %li
        = game.description
        %div{ :style => "padding-left: 3em" }
          = status_for_game(@player, game)
          %li{ :style => 'display: inline' }= "#{game.num_guys_confirmed} guy(s)"
          %li{ :style => 'display: inline' }= "#{game.num_gals_confirmed} gal(s)"
          %a{ :href => '#', :onclick => "document.getElementById('#{game.id}_details').style.display = 'block'" }= "[details]"
          %div{ :style => 'display:none', :id => "#{game.id}_details" }
            %ul
            - game.team.players.each do |player|
              %li= "#{player.name}: #{player.attending_status(game)}"             

