= "Dear #{@player.name},"

This is your game reminder. The next game is:

= "\t#{@game.description}"

="You are currently marked as '#{@player.attending_status(@game)}' for this game.  To change your status sign in and update it in your homepage"

Thank you for using PickleSpears.com!
