%p= "Dear #{@player.name},"
%p This is your game reminder. The next game is:
%blockquote
  = @game.description
%p= "You are currently marked as '#{@player.attending_status(@game)}' for this game.  To change your status sign in and update it in your homepage"
%p
  Thank you for using
  %a{ :href=>'http://picklespears.com' } PickleSpears.com
  !
