- title "Edit @team.name"
.grid_6
  %form{ :method => 'post', :action => '/team/update' }
    %input{ :type => :hidden, :name => :team_id, :value => @team.id }
    %strong Name:
    %input{ :type => :text, :name => :name, :value => @team.name }
    %br
    %strong Division:
    %select{ :name => 'division_id' }
      - @divisions.each do |division|
        - if division.id == @team.division_id
          %option{ :value => division.id, :selected => :selected  }= division.name
        - else
          %option{ :value => division.id }= division.name
    %br
    %input{ :type => :submit, :name => :update, :value => 'Update' }
    %br
.clear
.grid_6
  %h3 Upcoming Games
  %ul
    - @team.upcoming_games.each do |game|
      %li= game.description
.grid_6
  %h3 Players
  %table
    - @team.players.each do |p|
      %tr
        %td= p.name
        %td
          %a{ :href => "mailto:#{p.email_address}" }= p.email_address
        %td
          %input{ :type => 'submit', :value => 'Remove Player' }
.clear