- title @team.name
%div{ :style => 'text-align: center; padding-bottom: 1em;' }
  %h1{ :style => 'display: inline' }= @team.name
  - if @player && !@player.is_on_team?(@team)
    %a#join_this_team{ :href => '#', :onclick => "joinTeam('#{@team.id}', 'join_this_team'); return false;"} Join this team!
  %a{ :href => url_for('/team/edit', {:team_id => @team.id.to_s }) } [Edit]
%div{ :style => 'float:left; width: 250px' }
  %h2{ :style => 'margin-top: 0px;' } Players
  %ul
    - @team.players.each do |player|
      %li
        %a{ :href => url_for('/player', { 'id' => player.id.to_s }) }= player.name
  %h2 Upcoming Games
  %ul
    - @team.upcoming_games.each do |game|
      %li= game.description
%div{ :style => 'float: left; width: 600px' }
  %h2{ :style => 'display: inline' }= "Next Game: #{@team.next_game && @team.next_game.description}"
  = status_for_game(@player, @team.next_game)
  %br
  %ul{ :style => 'list-style-type: none; display: inline' }
    %li{ :style => 'display: inline' }= "#{@team.next_game && @team.next_game.num_guys_confirmed} guys"
    %li{ :style => 'display: inline' }= "#{@team.next_game && @team.next_game.num_gals_confirmed} gals"
