- title @team.name
%h1= @team.name
%table{ :border => 1 }
  %tr
    %th upcoming games
    %th players
  %tr
    %td
      %h3 Upcoming games
      %ul
        - @team.games.select { |x| x.date >= Date.today() }.sort { |a, b| a.date <=> b.date }.each do |game|
          %li= game.date.to_s + " --- " + game.description

      %a{ :href => "#", :onclick => "document.getElementById('all-games').style.display = 'block'" } all games
      %div{ :id => "all-games", :style => "display:none" }
        %h3 All games
        %ul
          - @team.games.sort { |a, b| a.date <=> b.date }.each do |game|
            %li= game.date.to_s + " --- " + game.description
    %td
      %div{ :align => "right" }
      %a{ :href => "/add_player.rb?team_id=#{@team.id}" } add player
      %ul
        - @team.players.each do |player|
          %li
            = sprintf('%s (<a href="mailto:%s">%s</a>) <a href="/delete.rb?player_id=%s;team_id=%s">del</a>', player.name, player.email_address, player.email_address, player.id, @team.id)
      %div{ :align => "right" }
      %a{ :href => "/add_player.rb?team_id=#{@team.id}" } add player
