- title @team.name
%div{ :style => 'text-align: center; padding-bottom: 1em;' }
  %h1{ :style => 'display: inline' }= @team.name
  %a{ :href => href('/team/join', [ 'team_id' => @team.id ]) }Join this team!
%div{ :style => 'float:left; width: 250px' }
  %h2{ :style => 'margin-top: 0px;' } Players
  %ul
    - @team.players.each do |player|
      %li= "#{player.name} (#{player.email_address})"
  %h2 Upcoming Games
  %ul
    - @team.upcoming_games.each do |game|
      %li= game.description
%div{ :style => 'float: left; width: 500px' }
  %h2{ :style => 'display: inline' }= "Next Game: #{@team.next_game.description}"
  %strong Attending?
  %a{ :href => '#', :onclick => "new Ajax.Request('" + href("/game/attending_status", { 'status' => 'yes', 'game_id' => @team.next_game.id }) + "', {method:'get'});"} Yes
  %a{ :href => href("/game/attending_status", { 'status' => 'no', 'game_id' => @team.next_game.id })} No
  %a{ :href => href("/game/attending_status", { 'status' => 'maybe', 'game_id' => @team.next_game.id })} Maybe
  %br
  %ul{ :style => 'list-style-type: none; display: inline' }
    %li{ :style => 'display: inline' }= "#{@team.next_game.num_guys_confirmed} guys"
    %li{ :style => 'display: inline' }= "#{@team.next_game.num_gals_confirmed} gals"
  





