- title "Edit #{@team.name}"
.row-fluid
  .offset1.span6
    %h3 Team Info
    %form.form-horizontal{ :method => 'post', :action => (@season ? '/season/update_team' : '/team/update') }
      %input{ :type => :hidden, :name => :team_id, :value => @team.id }
      .control-group
        %label.control-label Team Name
        .controls
          %input{ type: :text, name: :name, value: @team.name }
      .control-group
        %label.control-label Manager Name
        .controls
          %input{ type: :text, name: :manager_name, value: @team.manager_name }
      .control-group
        %label.control-label Manager Email
        .controls
          %input{ type: :email, name: :manager_email, value: @team.manager_email }
      .control-group
        %label.control-label Manager Phone
        .controls
          %input{ type: :tel, name: :manager_phone_no, value: @team.manager_phone_no }
      .control-group
        %label.control-label Division
        .controls
          = partial :division_select, locals: { divisions: @divisions, initial: @team.division }
      - if @season
        %input{ :type => :hidden, :name => :season_id, :value => @season.id }

        .control-group
          %label.control-label Preferred Days
          .controls
            - %w{ Sunday Monday Tuesday Wednesday Thursday Friday Saturday }.each do |day|
              %label.checkbox
                - if SeasonPreferredDay[@season.id,@team.id,day]
                  %input{ type: :checkbox, name: 'preferred_day[]', value: day, checked: :checked }= day
                - else
                  %input{ type: :checkbox, name: 'preferred_day[]', value: day }= day

        %h4 Days to Avoid
        %table.table.table-striped.form-inline
          %thead
            %th Date
            %th &nbsp;
          %tbody
            %tr
              %td
                = partial :date_input, locals: { name: 'day_to_avoid[]', value: '' }
              %td
                %button.btn.inline Add
            - SeasonDayToAvoid.where( season_id: @season.id, team_id: @team.id).each do |sda|
              %tr
                %td= sda.day_to_avoid
                %td
                  %button.btn.inline{ name: :delete, value: sda.id, disabled: :disabled } Delete

      %button.btn Update

.row-fluid
  .offset1.span5
    %h3 Upcoming Games
    %div
      %form.form-inline{ :action => '/team/add_game', :method => :post, :id => :new_game_form }
        %strong Add Game:
        %br
        %input{ :type => 'text', :name => 'date', :size => 20, :id => :game_date_string }
        %input{ :type => :hidden, :name => :massaged_date, :id => :massaged_date }
        %button.btn{ disabled: :disabled } Add Game
        %p Example: Thursday 6pm or 5/17/2009 14:40
    %ul
      - @team.upcoming_games.each do |game|
        %li= "#{game.date.strftime(DATE_FORMAT)} #{game.description}"
  .span6
    %h3 Players
    %form.form-inline{ action: "/team/#{@team.id}/add_player", method: 'post'}
      %table.table
        %thead
          %th Name
          %th Email
          %th Action
        %tbody
          %tr
            %td
              %input{ type: 'text', name: 'name', placeholder: 'Player Name' }
            %td
              %input{ type: 'text', name: 'email', placeholder: 'Email Address' }
            %td
              %button.btn Add Player

    %table.table
      %thead
        %th Name
        %th Email
        %th Action
      %tbody
        - @team.players.sort_by(&:name).each do |p|
          %tr
            %td= p.name
            %td
              %a{ :href => "mailto:#{p.email_address}" }= p.email_address
            %td
              %form.form-inline{ :action => '/player/remove_from_team', :method => 'post'}
                %button.btn Remove Player
                %input{ :type => 'hidden', :name => 'player_id', :value => p.id }
                %input{ :type => 'hidden', :name => 'team_id', :value => @team.id }
