- title "#{@player_from_request.name}'s homepage"
.row
  .span3
    - if @editable
      %form.form{ action: '/player/update', method: :post }
        %button.btn{ style: 'margin-bottom: 10px;' } Update Info
        %input{ type: :text, name: :name, value: @p.name, placeholder: 'Name' }
        %img{ style: 'margin-bottom: 10px;', :src => "http://www.gravatar.com/avatar/#{@p.md5_email}?s=200" }
        %input{ type: :email, name: :email_address, value: @p.email_address, placeholder: 'Email' }
        %input{ type: :tel, name: :phone_number, value: @p.phone_number, placeholder: 'Phone'}
        %select{ name: :gender }
          %option{ value: :guy, selected: @p.gender == 'guy' }guy
          %option{ value: :gal, selected: @p.gender == 'gal' }gal
        %input{ type: :text, name: :zipcode, value: @p.zipcode, placeholder: 'Zipcode' }
        %input{ type: :text, name: :birthdate, value: @p.birthdate, placeholder: 'Birthday' }

    - else
      %h3
        %a{ :href=> url_for('/player', { :id => @player_from_request.id }) }= @player_from_request.name
        - if @player == @player_from_request
          %a.btn{ href: "/player/#{@player_from_request.id}/edit" } Edit
      // TODO: Add edit image capability
      %img{ :src => "http://www.gravatar.com/avatar/#{@player_from_request.md5_email}?s=200" }
      %br
      %h3 Teams
      %ul
        - @player_from_request.teams.each do |team|
          %li
            %a{ :href => url_for("/team", { 'team_id' => team.id.to_s }) }= team.name
  .span9
    - if @editable
      // TODO: Add search/join/leave team as async requests
      %button.btn{ disabled: :disabled } Find/Join a team!
      %h3 Teams
      %ul
        - @p.teams.each do |team|
          %form{ :method => 'post', :action =>'/players_team/delete' }
            %dt
              %a{ :href => url_for("/team", { 'team_id' => team.id.to_s }) }= team.name
            %dd
              %button Leave Team
              %input{ :type=>'hidden', :name=>:player_id, :value=>@player.id }
              %input{ :type=>'hidden', :name=>:team_id, :value=>team.id }
    - else
      = partial :upcoming_games, locals: { teams_games: @player_from_request.upcoming_teams_games, player: @player == @player_from_request ? @player : nil }
